export("=")
export("-0.5,")
export("0.5,")
export("1000,")
export("2)")
export(arc)
export("c(1,10),")
export(comparison)
export(compute.S)
export(const)
export("data(simulation)")
export(estimate.rds2)
export("estimate.rds3(temp.data,")
export("FALSE,")
export(initial.thetas)
export(make.Sij)
export("make.Sij(temp.data),")
export(maxit)
export(Sij)
export(sum.ranks)
export(theta.minimum)
export(theta.range)
useDynLib(rds2)
