export(comparison)
export(compute.S)
export(estimate.rds)
export(make.Sij)
export(ranks.sum)
export(var.theta)
export(generate.sample)
export(generate.rds.control)
export(estimate.rds.free.betas)
useDynLib(chords)