export(comparison)
export(compute.S)
export(estimate.rds)
export(make.Sij)
export(ranks.sum)
export(var.theta)
export(generate.sample)
export(generate.rds.control)
export(estimate.rds.two.stage)
#export(estimate.rds.grid)
export(makeBetaGrid)
export(makeNjGrid)
useDynLib(chords)